DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
EMAIL_PROVIDER=payload
EMAIL_FROM=contato@boulevardgaribaldi.com.br
EMAIL_DEBUG=false
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
